{% extends 'base.html.twig' %}

{% block h1 %}Регистрация{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="offset-sm-4 col-sm-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}