{% extends 'base.html.twig' %}

{% block title %}Hello LoadFlightController!{% endblock %}

{% block body %}
<div class="row align-items-center">
    <div class="offset-sm-3 col-sm-6">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
